.benefits {
}
.container {
}
.benefits__list {
    display: flex;
}
.benefits__item {

}
.benefits__icon {
}
.benefits__title {
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: var(--main-text-color);
}
.benefits__description {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--main-text-color);
}