.cases-about {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 15px;
}

.cases-title {
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26px;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 34px;
}

.cases-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 39px;
}

.cases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}