.footer-page {
    height: 110px;
    background-color: var(--background-footer-color);
}

.container {}

.footer-page__contacts {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}

.footer-page__contacts--list {
    justify-content: space-between;
}

.footer-page__contacts--list-item {
}

.footer-page__contacts--list-link {}

.footer-page__contacts--list-img {}

.footer-page__copyright {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62; 

    color: var(--secondary-text-color);
}