.header {
  position: sticky;
  top: 0;
  width: 100%;

  text-align: center;

  //   просто щоб його було видно
  background-color: #000;

  & .container {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &-icon {
    min-width: 39px;
    width: 39px;
    min-height: 35px;
    height: 35px;
  }

  &-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    padding-top: 27px;

    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: calc(42 / 32);
    color: #fff;

    @include tablet {
      gap: 10px;

      padding-block: 11px;

      font-size: 35px;
      line-height: calc(42 / 35);
    }
  }

  &-logo--green {
    color: var(--acent-color);
  }

  &-nav {
    margin: 0 auto;

    @include tablet {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.nav {
  &-list {
    display: flex;
    gap: 12px;
    justify-content: center;

    @include tablet {
      gap: 18px;
    }

    @include desktop {
      gap: 38px;
    }
  }

  &-item {
    padding-block: 10px;

    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);

    color: #fff;
  }

  &-link {
    color: #fff;

    &:hover,
    &:focus {
      color: var(--acent-color);
      transition: color 250ms ease-in-out;
    }

    &--active {
      color: var(--acent-color);
    }
  }
}
