.header-nav{
display: flex;
}

.header-text{
    font-weight: 400;
font-size: 35px;
line-height: 1.21;



color: #d35e5e;
}
.header-text-color{
    
color: #28A745;
}
.header-list{
font-weight: 400;
font-size: 18px;
line-height: 1.56;
color: #FFFFFF;
display: flex;
margin: 0 auto;
gap: 38px;
align-items: center;
}