.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1360px;
  height: 768px;
  background-color: rgb(20, 196, 8);
  background-image: url(../images/hero/showcase@2x.jpg);
  background-size: contain;
  margin: 0 auto;
}
.hero_phrase {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  color: #E9E9E9;
}
.js-open-modal {
  width: 165px;
height: 48px;
background: #28A745;
border-radius: 5px;
}
.hero_text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 37px;
text-align: center;
color: #E9E9E9;
}