.solutions {
  background-color: aqua;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  line-height: 33px / 20px;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.solutions-image {
  max-width: 480px;
  height: 220px;
  background-image: url('../images/solutions/people.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions-info {
  padding: 30px;

  background-color: #28a745;
}

.solutions__uppertitle {
  display: inline-block;
  margin-bottom: 5px;
}

.solutions__title {
  margin-bottom: 26px;

  font-size: 38px;
  font-weight: 300;
  line-height: 48px / 38px;
}

.solutions__text {
  margin-bottom: 17px;

  // font-family: Open Sans;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0em;
  text-align: left;
}

.solutions__button {
  padding: 12px 27px;

  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: 18px;
  line-height: 28px / 18px;
  letter-spacing: 0em;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;
}
