<section class="benefits-two">
  <div>
    <ul class="benefits-item">
      <li>
        <a class="benefits-image" href="">
          <svg>
            <use href="../images/icon/fa-solid_book-open.svg"></use>
          </svg>
        </a>
        <h3 class="benefits-title">Investmant Banking</h3>
        <p class="benefits-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li>
        <h3 class="benefits-title">Portfolio Manager</h3>
        <p class="benefits-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li>
        <h3 class="benefits-title">Tax & Custudio</h3>
        <p class="benefits-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
