<section class="benefits">
  <div class="container">
  <ul class="benefits__list">
    <li class="benefits__item">

      <svg class="benefits__icon" width="32.81" hight ="30.63">
        <use href="./images/icon/sprite.svg#icon-university">  </use>
      </svg>
        <h2> Investmant Banking </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>     
    </li>
    
    <li class="benefits__item">
      
      <svg class="benefits__icon" width="35" hight ="35">
        <use href="./images/icon/sprite.svg#icon-human-open ">  </use>
      </svg>
        <h2> Portfolio Manager </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>     
    </li>
    <li class="benefits__item">
      
      <svg class="benefits__icon" width="35" hight ="35" >
        <use href="./images/icon/sprite.svg#icon-pencil"> </use>
      </svg>
        <h2> Tax & Custudio </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>     
    </li>
  </ul>
  </div>

  <!-- html -->
</section>