<div class="container blog">
    <div class="blog-part">
        <ul class="blog-list">
            <li class="blog-item">
                <p class="date">April 16 2020</p>
            </li>
            <li class="blog-item">
                <p class="title">Blog Post One</p>
            </li>
            <li class="blog-item">
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Voluptate, ipsum dignissimos quae laudantium
                    asperiores nam aliquid impedit harum illum dolore explicabo ab dolores 
                    itaque rerum temporibus doloribus iste maiores deleniti?</p>
            </li>
            <li class="blog-item">
                <button class="blog-button" type="button">Read Our Blog</button>
            </li>
        </ul>
    </div>

    <div class=blog-part">
        <img src="./images/blog/blog.jpg" alt="" class="blog-img">
    </div>
</div>