<section class="callback">
    <img src="./images/callback/contact.jpg" class="callback_img">
    <form class="callback_form">
        <p class="form-title">Request Callback</p>
        <input
            id="user-name"
            type="text"
            class="input form_label-input"
            name="username" 
            required
            minlength="3"
            pattern="^[a-zA-Zа_\.'-]+$|^[a-zA-Zа-яА-Яє-їЄ-Ї_\.'-]+(\s|,)[a-zA-Zа_\.'-]+$"
        >
        <input
            id="user-email"
        >
        <button type="submit" class="form_btn">Send</button>
    </form>
</section>