<section class="cases">
    <div class="conteiner">
        <p class="cases-about">This is what we do</p>
        <h2 class="cases-title">Business Cases</h2>
        <p class="cases-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="cases-list">
            <li class="cases-item"><img src="./images/cases/cases1.jpg" alt="Люди работают за столом" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases2.jpg" alt="Девушка работает за ноутбуком" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases3.jpg" alt="Заметки" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases4.jpg" alt="Небоскребы" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases5.jpg" alt="Рукопожатие" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases6.jpg" alt="Офисные работники" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases7.jpg" alt="Коллективное рукопожатие" width="320" height="214"></li>
            <li class="cases-item"><img src="./images/cases/cases8.jpg" alt="Рабочее пространство" width="320" height="214"></li>
        </ul>
    </div>
</section>
