
<section class="cases">
  <h3 class="cases__uppertitle">This is what we do</h3>
  <h2 class="cases__title">Business Cases</h2>
  <p class="cases__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases__imgs">
    <li class="cases__imgs-img">
      <img
        srcset="
          ./images/cases/cases1.jpg 1360w,
          ./images/cases/cases1.webp 320w,
          ./images/cases/cases1@2x.jpg 1360w 2x,
          ./images/cases/cases1@2x.webp 320w 2x
        "
        src="./images/cases/cases1.jpg"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases2.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases3.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases4.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases5.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases6.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases7.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
    <li class="cases__imgs-img">
      <img
        src="./images/cases/cases8.webp"
        alt=""
        class="cases__imgs--img-item"
      />
    </li>
  </ul>
</section>
