<section class="Bussines-cases">
  <div class="container">
    <h2 class="Bussines-cases__title">This is what we do</h2>
    <h3 class="Bussines-cases__subtitle">Business Cases</h3>
    <p class="Bussines-cases__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="Busines-cases__gallery">
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases1.webp"
          width="320"
          height="214"
          alt="собрание"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases2.webp"
          width="320"
          height="214"
          alt="работа на ноутбуке"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases3.webp"
          width="320"
          height="214"
          alt="графики"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases4.webp"
          width="320"
          height="214"
          alt="здания"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases5.webp"
          width="320"
          height="214"
          alt="согласие"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases6.webp"
          width="320"
          height="214"
          alt="команда"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases7.webp"
          width="320"
          height="214"
          alt="командная работа"
        />
      </li>
      <li class="Busines-cases__item">
        <img
          src="./images/cases/cases8.webp"
          width="320"
          height="214"
          alt="радость"
        />
      </li>
    </ul>
  </div>
</section>

<!--srcset=" dog-640.jpg 640w, dog-920.jpg 920w, dog-1280.jpg 1280w, dog-1600.jpg 1600w-->
