<footer class="footer-page">
  <div class="footer-page container">
    <div class="footer-page__contacts">
      <ul class="footer-page__contacts--list">
        <li class="footer-page__contacts--list-item">
          <a href="" class="footer-page__contacts--list-link">
            <svg class="footer-page__contacts--list-img" width="35" height="35">
              <use href="./images/icon/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-page__contacts--list-item">
          <a href="" class="footer-page__contacts--list-link">
            <svg class="footer-page__contacts--list-img" width="35" height="35">
              <use href="./images/icon/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-page__contacts--list-item">
          <a href="" class="footer-page__contacts--list-link">
            <svg class="footer-page__contacts--list-img" width="40" height="35">
              <use href="./images/icon/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-page__contacts--list-item">
          <a href="" class="footer-page__contacts--list-link">
            <svg class="footer-page__contacts--list-img" width="31" height="35">
              <use href="./images/icon/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-page__copyright">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
