<header class="header">
  <div class="container">
    <a href="#" class="header-logo-link">
      <svg class="header-icon">
        <use href="./images/icon/sprite.svg#icon-logo-book-open"></use>
      </svg>
      <span class="header-logo--green">Finance</span>Ledger
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link nav-link--active">Home</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Cases</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
