<section class="hero">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ex
    voluptatibus at a odit assumenda! Repellat similique officia, non suscipit,
    provident eius blanditiis saepe placeat ipsam id in at velit. Ratione nobis
    optio eligendi dolore, expedita architecto numquam eius cum deleniti,
    placeat ad reiciendis! Voluptatibus sint maxime a. Reprehenderit maxime
    asperiores, vero sint ducimus eaque recusandae est laborum ullam fugiat?
    Consequatur eius pariatur sit ipsam sed nesciunt voluptas neque consectetur
    est, maiores incidunt necessitatibus aperiam libero culpa ipsum, quidem
    animi, accusamus vel blanditiis. Nisi iste maiores facilis excepturi ipsum
    beatae? Ipsum quisquam provident voluptatem fugit, ducimus veritatis
    expedita tempora molestiae laborum assumenda recusandae, laboriosam, vel
    dicta suscipit obcaecati omnis nihil? Impedit consequatur corrupti nisi
    adipisci, ipsum aperiam consectetur dignissimos debitis. Totam pariatur
    atque, eligendi provident aliquam repellat nam impedit, laborum magni
    consectetur, explicabo vel sapiente natus expedita blanditiis praesentium!
    Error, blanditiis tenetur adipisci quibusdam rem esse consequatur maiores
    et? Labore. Recusandae illum soluta ratione nam maxime qui, possimus dicta
    exercitationem enim id nulla architecto maiores perferendis blanditiis
    officia voluptates tempore praesentium doloremque incidunt autem ad.
    Dolorum, repudiandae mollitia. Beatae, cum? Modi expedita obcaecati numquam
    possimus aperiam et repellat non illum nemo culpa quam maiores molestias cum
    consectetur, dolor itaque corrupti nihil minima consequatur libero adipisci
    quibusdam optio? Ratione, ea laboriosam. Quaerat magni ex minima aut cum
    expedita error tenetur voluptate, commodi quasi tempore nostrum sint,
    ducimus doloribus recusandae suscipit totam tempora veritatis? In nisi
    doloremque expedita quas, quidem nam ab! Dicta, sequi. Eius nihil nemo ipsam
    sint, labore dolorum repellendus impedit, natus mollitia, ab ad dolores
    doloremque autem perferendis ea dicta corrupti nam eaque cupiditate
    possimus. Beatae numquam architecto sequi. Fuga voluptatibus laborum, totam
    adipisci saepe voluptate quos! Assumenda obcaecati sapiente omnis fugiat
    esse, est veniam in eaque nemo libero, officia ipsa deserunt voluptatum
    alias vero saepe aliquam dolore! Alias.
  </p>
</section>
