<section class="hero">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <h1 class="hero-title">The Sky Is The Limit</h1>
          <p class="hero-text">We provide world class financial assistance</p>
        </div>
        <div class="swiper-slide">
          <h1 class="hero-title">WooooW!</h1>
          <p class="hero-text">Nice!!!!</p>
        </div>
        <div class="swiper-slide">
          <h1 class="hero-title">Working!!</h1>
          <p class="hero-text">Gooood!!!</p>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <button type="button" class="js-open-modal" data-modal="1">
      <span class="hero_sign">&gt</span> Read More
    </button>
  </div>
</section>
