<section class="section-down section">
  <div class="container">
    <img
      src="./images/solutions/people.jpg"
      alt="People standing in row"
      class="section-down__img"
    />
    <div class="section-down__article">
      <h2 class="solutions-down__heading">We provide bespoke solutions</h2>
      <h3 class="solutions-down__overtitle">What you are looking for</h3>
      <p class="solutions-down__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="solutions-down__btn">Read More</button>
    </div>
  </div>
</section>
