<section class="solutions">
    <div class="container">
        <div class="solutions-wraper">
<div class="solutions-img">
    <img class="sol-img" src="./images/solutions/people.jpg" width="680" alt="team picture">
</div>
<div class="solutions-description">
    <p class="description-text">What you are looking for</p>
    <h2 class="solutions-title" >We provide bespoke solutions</h2>
    <p class="description-long-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
    <button class="description-btn" type="button">Read More</button>
</div>
</div>
</div>
</section>
