<section class="team">

    <div class="container">
        <p class="team__text">Who we are</p>
        <h2 class="team__title">Our Professional Team</h2>
        <p class="team-description__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    </div>

    <div class="container">
        <ul class="team__list">
            <li class="team-list__item">
                <a class="team-list__link" href="">
                    <img class="team-list__img" srcset="./images/team/person1@2x.jpg" src="./images/team/person1.jpg" width="280"> 
                    <div class="team-list__block">
                        <p class="team-list__headline">John Doe</p>
                        <p class="team-list__text">President</p>
                    </div>
                    <!-- <ul class="team-social__list">
                        <li class="team-social__item">
                            <a class="team-social__link">
                                <svg class="team-social__icon">
                                    <use href="./images/icon/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="team-social__item">
                            <a class="team-social__link">
                                <svg class="team-social__icon">

                                </svg>
                            </a>
                        </li>
                        <li class="team-social__item">
                            <a class="team-social__link">
                                <svg class="team-social__icon">

                                </svg>
                            </a>
                        </li>
                        <li class="team-social__item">
                            <a class="team-social__link">
                                <svg class="team-social__icon">

                                </svg>
                            </a>
                        </li>
                    </ul> -->
            
            </li>
            <li class="team-list__item">
                <a class="team-list__link">
                    <img class="team-list__img" srcset="./images/team/person2@2x.jpg" src="./images/team/person2.jpg" width="280">
                    <div class="team-list__block">
                        <p class="team-list__headline">Jane Doe</p>
                        <p class="team-list__text">Vice President</p>
                    </div>
                </a>
            </li>
            <li class="team-list__item">
                <a class="team-list__link">
                    <img class="team-list__img" srcset="./images/team/person3@2x.jpg" src="./images/team/person3.jpg" width="280">
                    <div class="team-list__block">
                        <p class="team-list__headline">Steve Smith</p>
                        <p class="team-list__text">Marketing Head</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>