<section class="team-center">
  <div class="container">
    <p>Who we are</p>
    <h3>Our Professional Team</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="team-list">
      <li class="team-list__element">
        <div class="social-media-wrapper">
          <img src="./images/team/person1.jpg" alt="President"><a href="" class="team-list__link">
            <ul class="social-media">
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </li>
            </ul>
        </div>
        <p class="team-list__name">John Doe</p>
        <p class="team-list__rank">President</p>
        </a>
      </li>
      <li class="team-list__element">
        <div class="social-media-wrapper">
          <img src="./images/team/person2.jpg" alt="Vice President"><a href="" class="team-list__link">
            <ul class="social-media">
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </li>
            </ul>
        </div>
        <p class="team-list__name">Jane Doe</p>
        <p class="team-list__rank">Vice President</p>
        </a>
      </li>
      <li class="team-list__element">
        <div class="social-media-wrapper">
          <img src="./images/team/person3.jpg" alt="Marketing Head"><a href="" class="team-list__link">
            <ul class="social-media">
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-facebook"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-twitter"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-youtube"></use>
                </svg>
              </li>
              <li class="social-media__item">
                <svg class="social-media__image">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use>
                </svg>
              </li>
            </ul>
        </div>
        <p class="team-list__name">Steve Smith</p>
        <p class="team-list__rank">Marketing Head</p>
        </a>
      </li>
    </ul>
  </div>
</section>